<% if @status.errors.any? %>
  <div class="alert alert-danger">
      <button class="close" data-dismiss="alert">x</button>
      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<%= simple_form_for(@status, html: {class: "form-horizontal well"}) do |f| %>  
  <%= f.input :user_id, collection: User.all, label_method: :full_name %>
  <%= f.input :content %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
