<%= page_header do %>
  <h2>Sign into Treebook</h2>
<% end %>

<br />
<div class="row">
	<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well form-vertical"}) do |f| %>
		<fieldset>
			<%= f.input :email %>
			<%= f.input :password %>
	  	<% if devise_mapping.rememberable? -%>
	    	<%= f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false %>
	  	<% end -%>
	  	<div class="form-actions">
			<%= f.button :submit, "Sign In", class: 'btn btn-primary btn-block' %>
		</div>
		</fieldset>
	<% end %>
</div>
</div>
	<%= render "devise/shared/links" %>
</div>
